GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here
YANDEX_MAPS_API_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_PAYMENT_INTENT_URL=
BASE_URL=https://zeengobackend-production.up.railway.app/api/v1
SOCKET_URL=https://zeengobackend-production.up.railway.app/ws
